body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 13rem 13rem 13rem 13rem;
}

.gridItem {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin: 1rem;
  padding: .75rem 2rem .75rem;
}

.browseContainer {
  width: 75%;
  margin: auto;
}
